.comment-container {
    border-radius: 4px;
    padding: 16px 24px;
}

.comment-container:hover {
    background: #f3f3f3;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.comment-author {
    margin: 0;
    color: #f95738;
    font-size: 1rem;
}

.comment-body {
    color: #717171;
    font-size: 1rem;
    margin: 0;
}

.comment-time {
    font-family: 'Kanit', sans-serif;
    color: #717171;
    font-size: 0.8rem; 
    margin: 0;  
}

@media only screen and (max-width: 600px) {
    .comment-body {
        max-width: 220px;
        margin-bottom: 24px;
    }

    .comment-container {
        padding: 0;
    }

    .comment-header {
        display: block;
    }
  }