.subreddits-container {
    text-align: left;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)!important;
    border-radius: 4px;
}
  
.subreddits-title {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
  
.subreddits-list {
    list-style: none;
    padding: 0;
}
  
.subreddits-list li {
    font-size: 18px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    color: #717171;
}
  
.subreddit-logo {
    height: 26px;
}