.subreddits-container {
    text-align: left;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)!important;
    border-radius: 4px;
}
  
.subreddits-title {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
  
.subreddits-list {
    list-style: none;
    padding: 0;
}
  
.subreddits-list li {
    font-size: 1rem;
    margin-bottom: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: #717171;
}
  
.subreddit-logo {
    height: 26px;
}


@media only screen and (max-width: 600px) {
    .subreddits-container {
        box-shadow: none!important;
    }
}