@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Roboto&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* PAGE STYLING */

.page-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 60px;
}