.post-wrapper {
  display: flex;
  text-align: left;
  margin-bottom: 36px;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05)!important;
}

.voting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
}

.voting-arrow {
  font-size: 1.2rem;
  color: #717171
}

.vote-count {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 8px auto;
  color: #717171;
}

.post-container {
  width: 100%;
}

.post-title {
  font-size: 1.17rem;
  line-height: 32px;
}

.post-img {
  width: 100%;
  margin-bottom: 24px;
}

.post-footer-container {
  font-size: 0.75rem;
  color: #717171;
  font-family: 'Kanit', sans-serif;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-name {
  font-weight: bold;
  color: #f95738;
}